<div class="span5">
  <div class="main-frame">
    <h2><%= t('.title') %></h2>

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal" }) do |f| %>
      <%= f.input :username,              input_html: { :class => "input-large", :autofocus => true } %>
      <%= f.input :email,                 input_html: { :class => "input-large" } %>
      <%= f.input :password,              input_html: { :class => "input-large" }, required: true %>
      <%= f.input :password_confirmation, input_html: { :class => "input-large" }, required: true %>

      <div class="control-group">
        <div class="controls">
          <%= f.submit t('buttons.sign_up'), :class => "btn btn-primary btn-large btn-block" %>
        </div>
      </div>

    <% end %>

    <div class="form-horizontal">
      <div class="control-group">
        <div class="controls">
          <%= render "devise/shared/links" %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= link_to('/users/auth/facebook',
                      :id => 'facebook-sign-in',
                      :class => 'btn btn-primary btn-facebook btn-large btn-block') do %>
            <table class="facebook-login-table">
              <tr>
                <td><%= fa_icon "facebook-square", class: "fa-1x" %></td>
                <td></td>
                <td><%= t('devise.shared._links.omniauth', provider: :Facebook) %></td>
              </tr>
            </table>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="span7">
  <div class="logo-sign-in">
    <%= link_to image_tag("logo_medium.png", alt: t('layouts._navigation.page_title')) %>
  </div>
</div>
