<%= simple_form_for([option, comment], :remote => true, :html => {:class => "comment-form"}) do |g| %>
  <%= g.input :user_id, as: "hidden", input_html: {:value => current_user.id} %>
  <table class="table comment-form-table">
    <tr>
      <td class="comment-user-cell">
        <% if comment.new_record? %>
          <%= link_to(image_tag(current_user.avatar.url(:icon), :class => "img-polaroid"), user_path(current_user)) %>
        <% else %>
          <%= link_to(image_tag(comment.user.avatar.url(:icon), :class => "img-polaroid"), user_path(comment.user)) %>
        <% end %>
      </td>
      <td class="comment-body-cell">
        <%= g.input :body, label: false, input_html: {class: "text-comment", placeholder: t('comments._form.write_comment'), rows: 1} %>
      </td>
      <td class="comment-btn-cell">
        <%= g.button(:submit, t('buttons.submit'), class: "btn btn-primary btn-block submit_form comment-btn") %>
      </td>
    </tr>
  </table>
<% end %>
