<div class="row">

  <div class="span12">
    <h2><%= t 'contests._total_stuff.title' %></h2>
  </div>

  <div class="span4 offset1">
    <% i = 0 %>
    <% @results_by_stuff.each do |result| %>
      <% i += 1 %>
      <div class="row">
        <div class="span4">
          <div class="partial_info pull-right">
            <h4><%= result[:label] %></h4>
            <h5><%= t('contests._total_stuff.info', :total => result[:value]) %></h5>
          </div>
          <div id="partial_picture<%= i %>" class="picture<%= result[:picture] %> picture"></div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="span7">
    <div id="canvas_stuffs_box" class="center">
      <%= content_tag "div", id: "data_stuffs", data: {stuffs: @results_by_stuff} do %>
        <canvas id="canvas_stuffs" height="350" width="350"></canvas>
      <% end %>
    </div>
  </div>


</div>
