<%= form_for(user, :html => { :class => "avatar_form", :multipart => true }) do |f| %>

  <div class="row">
    <div class="span6 center">
      <h4 class="profile-picture-title"><%= t 'users._form.title' %></h4>
    </div>
  </div>

  <div class="row">
    <div class="span2 offset2">

      <div class="avatar-box editable">
        <div class="row">
          <div class="span2 avatar-form-sizeable">
            <div class="picture-box">
              <div class="current_picture">
                <div class="picture_preview">
                  <div class="picture_preview_container">
                  </div>
                </div>
                <%= image_tag f.object.avatar.url(:medium), :class => "existing_image" %>
              </div>
              <%= f.file_field(:avatar, accept: 'image/png,image/gif,image/jpeg,image/jpg', :class => 'upload_picture') %>
              <div class="delete_picture delete-picture-user">
                <i class="icon-remove pull-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="span2 offset2">
      <%= f.button(t('buttons.update'), :class => "btn btn-primary btn-block submit_form") %>
    </div>
  </div>

<% end %>
