<div id="login-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="login-overlay-title" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      <i id="close-login-form" class="icon-remove"></i>
    </button>
    <h3 id="login-overlay-title" class="center"><%= t('users._overlay_sign_in.title') %></h3>
  </div>
  <div class="modal-body">

    <div class="facebook-login-box">
      <%= link_to('/users/auth/facebook',
                  :id => 'facebook-sign-in',
                  :class => 'btn btn-primary btn-facebook btn-large btn-block') do %>
        <table class="facebook-login-table">
          <tr>
            <td><%= fa_icon "facebook-square", class: "fa-1x" %></td>
            <td></td>
            <td><%= t('devise.shared._links.omniauth', provider: :Facebook) %></td>
          </tr>
        </table>
      <% end %>
    </div>

    <%= render :partial => 'devise/sessions/inline_form',
               :locals => {
                 :resource => :user,
                 :resource_name => :user
               } %>

    <p><%= t('users._overlay_sign_in.not_a_member_html', :link => link_to(t('users._overlay_sign_in.sign_up'), new_registration_path(:user))) %></p>
    <p><%= link_to t('devise.shared._links.recover'), new_password_path(:user) %></p>

  </div>
</div>

