<div class="span12">
  <div class="row">
    <div class="span8 offset2">
      <h4><%= t '.title' %></h4>
    </div>
  </div>

  <div class="row">
    <div class="span8 offset2">
      <table id="users-index" class="table">
        <%= render @users %>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="span8 offset2">
      <p class="user-pagination">
        <% if @users.last_page? %>
          <p class='center user-last_page'><%= image_tag("watermark_small.png") %></p>
        <% else %>
          <%= link_to_next_page(@users, t('.next'), :remote => true, :class => "next_page") %>
        <% end %>
      </p>
    </div>
  </div>
</div>


<% content_for :head do %>
  <%# for Google %>
  <meta name="description" content="<%= t('og.description_long') %>">
  <meta name="keywords" content="<%= t('og.keywords') %>">
  <meta name="application-name" content="Batalharia">

  <%# for Facebook %>
  <meta property="og:title" content="<%= t('og.title') %>">
  <meta property="og:url" content="https://batalharia.com">
  <meta property="fb:app_id" content="<%= ENV['FACEBOOK_KEY'] %>">
  <meta property="og:type" content="website">
  <meta property="og:description" content="<%= t('og.description_long') %>">
  <meta property="og:image" content="<%= image_url("logo_banner.png") %>">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:site_name" content="Batalharia">
  <meta property="og:locale" content="<%= I18n.t('og.locale') %>">
  <meta property="og:locale:alternate" content="<%= I18n.t('og.locale_alternate1') %>">
  <meta property="og:rich_attachment" content="true">

  <%# for Twitter %>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@batalharia">
  <meta name="twitter:url" content="https://batalharia.com">
  <meta name="twitter:title" content="<%= t('og.title') %>">
  <meta name="twitter:description" content="<%= t('og.description_short') %>">
  <meta name="twitter:image" content="<%= image_url("logo_box.png") %>">
<% end %>
