$("<%= escape_javascript(render visible_battles(@battles, @filter)) %>").appendTo("#battle_index");
<% visible_battles(@battles, @filter).each do |battle| %>
  jQuery(selectablePictureBattle("#battle<%= battle.id %>"));
  jQuery(newComment("#battle<%= battle.id %>"));
<% end %>
jQuery(startBattleCounters);

// Update pagination link
<% if @battles.last_page? %>
  <% if @find_friends %>
    $('.pagination').html('<div class="row"><div class="span4 offset4 find-facebook-friends-container"><%= find_facebook_friends_button(t('buttons.find_facebook_friends')) %></div></div><div class="row"><p class="center last_page"><%= image_tag("watermark_small.png") %></p></div>');
  <% else %>
    $('.pagination').html('<p class="center last_page"><%= image_tag("watermark_small.png") %></p>');
  <% end %>
<% else %>
  $('.pagination').html("<%=j link_to_next_page(@battles, t('battles._index.next'), params: { filter: @filter }, :remote => true, :class => "next_page") %>");
<% end %>
