<div class="span12">

  <% if @render_welcome %>
    <%= render 'users/welcome' %>
  <% end %>

  <div class="row">

    <div class="span2">
      <div class="row">
        <div class="span2">
          <%= render :partial => "users/avatar", :locals => { :user => @user } %>
        </div>
      </div>

      <div class="row">
        <div class="span2">
          <div id="user-button<%= @user.id %>" class="user-button profile-user-button">
            <%= user_button_for(@user, "") %>
          </div>
        </div>
      </div>

    </div>

    <div class="span10">
      <div class="row">
        <div class="span4">
          <div class="row">
            <div class="span4">
              <p class="username"><%= @user.username %></p>
            </div>
          </div>
          <div class="row">
            <div class="span4">
              <p class="name"><%= @user.name %></p>
            </div>
          </div>
        </div>

        <div class="span3">
          <%= link_to(user_following_path(@user), :class => "btn btn-info btn-block btn-large btn-following") do
            "#{I18n.t('users.show.following_list', :count => @number_of_following)}"
          end %>
        </div>

        <div class="span3">
          <%= link_to(user_followers_path(@user), :class => "btn btn-info btn-block btn-large btn-followers") do
            "#{I18n.t('users.show.followers_list', :count => @number_of_followers)}"
          end %>
        </div>
      </div>

    </div>
  </div>


  <% if current_user == @user %>
    <%= render 'battles/new' %>
  <% end %>
  <%= render 'battles/index' %>

</div>


<% content_for :head do %>
  <%# for Google %>
  <meta name="description" content="<%= t('og.profile_title', user: @user.username) %>">
  <meta name="keywords" content="<%= t('og.keywords') %>">
  <meta name="author" content="<%= @user.username %>">
  <meta name="application-name" content="Batalharia">

  <%# for Facebook %>
  <meta property="og:title" content="<%= t('og.profile_title', user: @user.username) %>">
  <meta property="og:url" content="<%= canonical_url(user_url(@user.username)) %>">
  <meta property="fb:app_id" content="<%= ENV['FACEBOOK_KEY'] %>">
  <meta property="og:type" content="website">
  <meta property="og:description" content="<%= t('og.profile_description', user: @user.username) %>">
  <meta property="og:image" content="<%= image_url("logo_banner.png") %>">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:site_name" content="Batalharia">
  <meta property="og:locale" content="<%= I18n.t('og.locale') %>">
  <meta property="og:locale:alternate" content="<%= I18n.t('og.locale_alternate1') %>">
  <meta property="og:rich_attachment" content="true">

  <%# for Twitter %>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@batalharia">
  <meta name="twitter:url" content="<%= canonical_url(user_url(@user.username)) %>">
  <meta name="twitter:title" content="<%= t('og.profile_title', user: @user.username) %>">
  <meta name="twitter:description" content="<%= t('og.profile_description', user: @user.username) %>">
  <meta name="twitter:image" content="<%= image_url("logo_box.png") %>">
<% end %>
