<%= simple_form_for(@option, remote: true) do |f| %>
  <div class="main-box">
    <h2 class="center"><%= t 'options._form.title' %></h3>

    <%= f.error_notification %>

    <div class="row">
      <% for i in 1..4 %>
        <div class="span6">
          <label class="radio">
            <%= f.radio_button(:picture, i, :checked => (i == 1))%>
            <div class="picture<%=i%> picture"></div>
          </label>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="span12">
        <div class="center">
          <%= f.input(:name, label: false, input_html: { :class => "input-xlarge h3 center", :placeholder => t('activerecord.attributes.option.name') }) %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <div class="center">
          <%= f.button(:submit, @option.new_record? ? t('buttons.create') : t('buttons.update'), :class => "btn btn-primary") %>
          <%= link_to(t('buttons.cancel'), :back, :onclick => "$('#option_form').slideUp(350)", :class => "btn") %>
        </div>
      </div>
    </div>
  </div>
<% end %>

