<div id="option<%= option.id %>">
  <div class="span4">

    <div class="vote_picture_frame <%= if battle.current?
                                         "current_battle"
                                       end %>">
      <div id="<%="vote_option#{option.id}"%>" class="vote_picture">

        <%= f.radio_button(
          :option,
          option.id,
          :checked => false,
          :name => "vote[option_id]",
          :class => "vote_radio"
        )%>

        <div class="option-box">
          <div class="row">
            <div class="span4">
              <div class="picture-box">
                <%= image_tag option.picture.url(:medium) %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="span4">
        <h3 class="center"><%= option.name %></h3>
      </div>
    </div>

    <% if can? :show_results, battle %>
      <%= render :partial => 'votes/results', :locals => { :id => option.id, :votes => option.number_of_votes } %>
    <% else %>
      <div id='<%="results#{option.id}"%>' style='display:none;'></div>
    <% end %>

  </div>
</div>
