<div class="span12 privacypolicy-container">

  <h1><%= t('.title') %></h1>

  <p><%= t('.welcome') %></p>

  <p><%= t('.principles') %></p>
  <ul>
    <li><%= t('.principle_1') %></li>
    <li><%= t('.principle_2') %></li>
    <li><%= t('.principle_3') %></li>
  </ul>

  <p><%= t('.policy_below') %></p>

  <p><%= t('.agreements') %></p>
  <ul>
    <li><%= t('.agreement_1_html', link: link_to('http://Batalharia.com/pages/terms_of_use', page_path('terms_of_use'))) %></li>
    <li><%= t('.agreement_2') %></li>
  </ul>

  <p><%= t('.questions') %></p>
  <p><%= t('.respect') %></p>


  <h4><%= t('.analytics_title') %></h4>
  <p><%= t('.analytics_1') %></p>
  <p><%= t('.analytics_2') %></p>


  <h4><%= t('.personal_information_title') %></h4>
  <p><%= t('.personal_information_1') %></p>
  <p><%= t('.personal_information_provided') %></p>
  <ul>
    <li><%= t('.personal_information_provided_1') %></li>
    <li><%= t('.personal_information_provided_2') %></li>
    <li><%= t('.personal_information_provided_3') %></li>
    <li><%= t('.personal_information_provided_4') %></li>
  </ul>


  <h4><%= t('.aggregate_statistics_title') %></h4>
  <p><%= t('.aggregate_statistics_1') %></p>


  <h4><%= t('.protection_of_information_title') %></h4>
  <p><%= t('.protection_of_information_1') %></p>


  <h4><%= t('.cookies_title') %></h4>
  <p><%= t('.cookies_1') %></p>


  <h4><%= t('.business_transfers_title') %></h4>
  <p><%= t('.business_transfers_1') %></p>


  <h4><%= t('.ads_title') %></h4>
  <p><%= t('.ads_1') %></p>


  <h4><%= t('.find_friends_title') %></h4>
  <p><%= t('.find_friends_1') %></p>


  <h4><%= t('.changes_title') %></h4>
  <p><%= t('.changes_1') %></p>
  <h5><%= t('.change_log') %></h5>
  <ul>
    <li><%= t('.change_log_1') %></li>
  </ul>

</div>
