<div class="span12 termsofservice-container">

  <h1><%= t('.title') %></h1>

  <p><%= t('.rules_html', policy: link_to(t('.privacy_policy'), page_path('privacy_policy'))) %></p>
  <p><%= t('.agreement') %></p>

  <h4><%= t('.basic_terms') %></h4>
  <ol>
    <li><%= t('.basic_terms_1') %></li>
    <li><%= t('.basic_terms_2') %></li>
    <li><%= t('.basic_terms_3') %></li>
    <li><%= t('.basic_terms_4') %></li>
    <li><%= t('.basic_terms_5') %></li>
    <li><%= t('.basic_terms_6') %></li>
  </ol>

  <h4><%= t('.responsibility_title') %></h4>
  <p><%= t('.responsibility_1') %></p>

  <h4><%= t('.other_sites_title') %></h4>
  <p><%= t('.other_sites_1') %></p>

  <h4><%= t('.copyright_title') %></h4>
  <p><%= t('.copyright_1') %></p>

  <h4><%= t('.intellectual_property_title') %></h4>
  <p><%= t('.intellectual_property_1') %></p>

  <h4><%= t('.changes_title') %></h4>
  <p><%= t('.changes_1') %></p>

  <h4><%= t('.terminate_title') %></h4>
  <p><%= t('.terminate_1') %></p>

  <h4><%= t('.disclaimer_title') %></h4>
  <p><%= t('.disclaimer_1') %></p>

  <h4><%= t('.limitation_title') %></h4>
  <p><%= t('.limitation_1') %></p>

  <h4><%= t('.warranty_title') %></h4>
  <p><%= t('.warranty_1') %></p>

  <h4><%= t('.indemnification_title') %></h4>
  <p><%= t('.indemnification_1') %></p>

  <h4><%= t('.translation_title') %></h4>
  <p><%= t('.translation_1') %></p>

  <h4><%= t('.miscellaneous_title') %></h4>
  <p><%= t('.miscellaneous_1') %></p>

</div>
