<div class="battle_container">

  <% if battle.current? %>
    <div id="battle<%= battle[:id] %>" class="battle main-box battle-current">
  <% else %>
    <div id="battle<%= battle[:id] %>" class="battle main-box battle-finished">
  <% end %>
    <div class="row">
      <div class="span12">

        <div class="row">
          <div class="span12">
            <h4 class="pull-left battle-user">
              <%= link_to(image_tag(battle.user.avatar.url(:icon), :class => "img-polaroid"), user_path(battle.user)) %>
              <%= link_to(battle.user.username, user_path(battle.user), :class => "battle_user") %>
            </h4>

            <% if can? :destroy, battle %>
              <h3 class="remove pull-right">
                <%= link_to(battle_path(battle),
                            :confirm => t('battles._battle.destroy'),
                            :method => :delete,
                            :remote => true,
                            :id => "delete_battle#{battle[:id]}",
                            :class => "delete_battle") do %>
                  <i class="icon-remove pull-right"></i>
                <% end %>
              </h3>
            <% end %>

            <% if can? :update, battle %>
              <h3 class="update pull-right">
                <%= link_to(edit_battle_path(battle),
                            :remote => true,
                            :id => "edit_battle#{battle[:id]}") do %>
                  <i class="icon-edit pull-right"></i>
                <% end %>
              </h3>
            <% end %>

          </div>
        </div>

        <div class="scroller-over"></div>
        <div class="battle-title-row-container">
          <div class="row">

            <div class="span4 pull-right">
              <div class="time-container">
                <div class="row">
                  <div class="span4">
                    <% if battle.current? %>
                      <h5 class="center remaining-time"><%= t 'battles._battle.remaining_time' %></h5>
                    <% else %>
                      <h4 class="center time-finished"><%= t('battles._battle.finished', :distance => time_ago_in_words(battle.finishes_at)) %></h4>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="span4">
                    <div class="battle-countdown center">
                      <% if battle.current? %>
                        <div data-countdown="<%= battle.finishes_at.strftime('%Y/%m/%d %H:%M:%S') %>"
                             data-day="<%= t 'battles._battle.day' %>"
                             data-hour="<%= t 'battles._battle.hour' %>"
                             data-min="<%= t 'battles._battle.min' %>"
                             data-sec="<%= t 'battles._battle.sec' %>"
                             data-finished="<%= t 'battles._battle.finished' %>"
                             class="battle-countdown-running"></div>
                      <% else %>
                        <h4 class="battle-countdown-finished">
                          <%= t('battles._battle.finished_ago', :distance => time_ago_in_words(battle.finishes_at)) %>
                        </h4>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="battle-title-container span8">
              <div class="row">
                <div class="span8">
                  <h2 class="pull-left battle-title"><%= auto_link_hashtags(battle.title || "", :hashtag_url_base => hashtag_path("")).html_safe %></h2>
                </div>
              </div>
              <div class="row">
                <div class="span8">
                  <h5 class="pull-left battle-description"><%= auto_link_hashtags(battle.description || "", :hashtag_url_base => hashtag_path("")).html_safe %></h5>
                </div>
              </div>
            </div>

          </div>
        </div>

        <%= simple_form_for(@vote, remote: true) do |f| %>
          <div class="battle-box">
            <div class="row">
              <% option_number = 0 %>
              <% battle.options.each do |option| %>
                <%= render :partial => "options/option",
                           :locals => { :battle => battle,
                                        :option => option,
                                        :f => f,
                                        :size => option_size(battle.options.count),
                                        :offset => option_offset(battle.options.count, option_number)
                                      } %>
                <% option_number += 1 %>
              <% end %>
            </div>
          </div>
          <%= f.button(:submit, t('buttons.vote'), :class => "vote_button btn btn-primary btn-large") %>
        <% end %>

      </div>
    </div>
  </div>

</div>

