<%= simple_form_for(@battle, remote: true, :html => {:class => 'form-horizontal' }) do |f| %>
  <div class="main-box">
    <h2 class="center"><%= t 'battles._form.title' %></h3>

    <%= f.error_notification %>

    <%= f.association :options, as: :check_boxes %>
    <%= f.input(:starts_at, :as => :datetime_picker, :class => "datetimepicker") %>
    <%= f.input(:finishes_at, :as => :datetime_picker, :class => "datetimepicker") %>

    <div class="row">
      <div class="span12">
        <div class="center">
          <%= f.button(:submit, @battle.new_record? ? t('buttons.create') : t('buttons.update'), :class => "btn btn-primary") %>
          <%= link_to(t('buttons.cancel'), :back, :onclick => "$('#battle_form').slideUp(350)", :class => "btn") %>
        </div>
      </div>
    </div>
  </div>
<% end %>


