<%= simple_nested_form_for(@battle, :remote => true, :html => { :class => 'battle_form'}) do |f| %>
  <div class="main-box battle-current">

    <div class="row">
      <div class="span12">
        <h4 class="pull-left battle-user">
          <% if @battle.new_record? %>
            <%= link_to(image_tag(current_user.avatar.url(:icon), :class => "img-polaroid"), user_path(current_user)) %>
          <% else %>
            <%= link_to(image_tag(@battle.user.avatar.url(:icon), :class => "img-polaroid"), user_path(@battle.user)) %>
          <% end %>
          <%= link_to(current_user.username, user_path(current_user), :class => "battle_user") %>
        </h4>
      </div>
    </div>

    <%= f.error_notification %>

    <div class="battle-title-row-container">
      <div class="row">

        <div class="span4 pull-right">
          <div class="time-container">
            <div class="row">
              <div class="span4">
                <h5 class="center remaining-time"><%= t 'battles._battle.remaining_time' %></h5>
              </div>
            </div>
            <div class="row">
              <div class="span4">
                <div class="battle-countdown-new center">
                  <%= f.input :duration, :label => false, :wrapper => :append do %>
                    <%= f.input_field :duration, :class => "input-mini center" %>
                      <span class="add-on">min</span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="span8">
          <div class="row">
            <div class="span8">
              <%= f.input(:title, label: false, input_html: { :class => "h2 input-block-level battle-title battle-title-form", :placeholder => t('battles.default_title'), :maxlength => "120" }) %>
            </div>
          </div>
          <div class="row">
            <div class="span8">
              <%= f.input(:description, label: false, input_html: { :class => "h5 input-block-level battle-description battle-description-form", :placeholder => t('battles._form.description'), :maxlength => "110" }) %>
            </div>
          </div>
        </div>

      </div>
    </div>

    <%= f.error(:options, :id => 'battle-options-error', :class => "text-error") %>
    <div class="row">
      <%= render :partial => "options/options_form",
                 :locals => { :battle_options_error => @battle_options_error,
                              :options_id => @options_id,
                              :f => f,
                            } %>
    </div>

    <div class="row">
      <div class="span2 offset4">
        <%= f.button(:submit, @battle.new_record? ? t('buttons.create') : t('buttons.update'), :class => "btn btn-primary btn-block submit_form") %>
      </div>
      <div class="span2">
        <span class="btn btn-block remove_form"><%= t('buttons.cancel') %></span>
      </div>
    </div>
  </div>
<% end %>
