<div class="option-form-sizeable option-form-offsetable span4 offset0">
  <div class="row">
    <div class="span4 option-form-sizeable">
      <%= f.link_to_remove(:class => "remove_option_form") do %>
        <i class="icon-remove pull-left"></i>
      <% end %>
    </div>
  </div>

  <div class="option-box option-box-editable">
    <div class="row">
      <div class="span4 option-form-sizeable">
        <div class="picture-box">
          <div class="current_picture">
            <div class="picture_preview">
              <div class="picture_preview_container">
              </div>
            </div>
            <% if f.object.picture.file? %>
              <%= image_tag f.object.picture.url(:medium), :class => "existing_image" %>
            <% else %>
              <div class="no_picture_container existing_image">
                <div class="no_picture_circle">
                  <h4 class="no_picture_message">
                    <i class="icon-upload"></i><br/><%= " #{t 'battles._option_fields.upload_image'}" %>
                  </h4>
                </div>
              </div>
            <% end %>
          </div>
          <%= f.file_field(:picture, accept: 'image/png,image/gif,image/jpeg,image/jpg', :class => 'upload_picture required') %>
          <div class="delete_picture delete-picture-option">
            <i class="icon-remove pull-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4 option-form-sizeable">
      <%= f.input(:name, label: false, input_html: { :class => "h3 input-block-level center option-name option-name-form", :placeholder => t('activerecord.attributes.option.name'), :maxlength => "40" }) %>
    </div>
  </div>

</div>
