<div class="span12">
  <div id="login-box" style='display:none;'></div>

  <div id="battle_index">
    <%= render 'battles/form' %>
  </div>

  <p class="pagination">
    <p class='center last_page'><%= image_tag("watermark_small.png") %></p>
  </p>
</div>


<% content_for :head do %>
  <%# for Google %>
  <meta name="description" content="<%= @battle.title %>"></meta>
  <meta name="keywords" content="<%= @battle.description %>"></meta>
  <meta name="author" content="<%= @battle.user.name %>"></meta>
  <meta name="application-name" content="Batalharia"></meta>

  <%# for Facebook %>
  <meta property="og:title" content="<%= @battle.title %>"></meta>
  <meta property="og:url" content="<%= canonical_url(battle_path(@battle.id)) %>"></meta>
  <meta property="fb:app_id" content="<%= ENV['FACEBOOK_KEY'] %>"></meta>
  <meta property="og:type" content="batalharia:battle"></meta>
  <meta property="og:description" content="<%= @battle.description %>"></meta>
  <meta property="og:image" content="<%= @battle.options.first.picture.url(:facebook) %>"></meta>
  <meta property="og:image:width" content="1200"></meta>
  <meta property="og:image:height" content="630"></meta>
  <meta property="og:site_name" content="Batalharia"></meta>
  <meta property="og:locale" content="<%= I18n.t('og.locale') %>"></meta>
  <meta property="og:locale:alternate" content="<%= I18n.t('og.locale_alternate1') %>"></meta>
  <meta property="og:rich_attachment" content="true"></meta>

  <%# for Twitter %>
  <meta name="twitter:card" content="summary_large_image"></meta>
  <meta name="twitter:site" content="@batalharia"></meta>
  <meta name="twitter:url" content="<%= canonical_url(battle_url(@battle.id)) %>"></meta>
  <meta name="twitter:title" content="<%= @battle.title %>"></meta>
  <meta name="twitter:description" content="<%= @battle.description %>"></meta>
  <meta name="twitter:image" content="<%= @battle.options.first.picture.url(:medium) %>"></meta>
<% end %>
