<div class="span12">
  <h1><%= t '.title', :id => @battle.id %></h1>

  <div id="battle_total">
    <%= render 'battles/total' %>
  </div>

  <div id="battle_total_option">
    <%= render 'battles/total_option' %>
  </div>

  <div id="battle_total_hour">
    <%= render 'battles/total_hour' %>
  </div>

  <div class="row">
    <div class="span12">
      <%= link_to(t('buttons.back'), :back, :onclick => "goBack()", :class => "btn extra-space") %>
    </div>
  </div>

</div>

