<p><%= t('.title', user: @email) %></p>

<p><%= t('.reset_message') %></p>

<p><%= link_to t('.reset'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('.ignore') %></p>
<p><%= t('.explanation') %></p>
