<%= simple_form_for(@vote, remote: true) do |f| %>
  <div class="main-box">
    <div class="row">
      <% i = 0 %>
      <% @battle.options.each do |option| %>
        <% i += 1 %>
        <div class="<%= get_option_span_poll(@battle.options.count, i) %>">
          <h3 class="center"><%= option.name %></h3>

          <div class="vote_picture_frame">
            <div id="<%="vote_option#{option.id}"%>" class="vote_picture">

              <%= f.radio_button(
                :option,
                option.id,
                :checked => false,
                :name => "vote[option_id]",
                :class => "vote_radio"
              )%>

              <div class="option-box">
                <div class="row">
                  <div class="span4">
                    <div class="picture-box">
                      <%= image_tag option.picture.url(:medium) %>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="pull-right">
        <%= recaptcha_tags %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="pull-right">
        <%= f.button(:submit, t('buttons.vote'), :id => "vote_button", :class => "btn btn-primary btn-large") %>
      </div>
    </div>
  </div>
<% end %>
