<div id="votes-modal-option<%= option.id %>" class="votes-modal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="votes-modal-label-option<%= option.id %>" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      <i class="icon-remove close-login-form"></i>
    </button>
    <h3 id="votes-modal-label-option<%= option.id %>"><%= t('votes._index.title_html', option: option.name) %></h3>
  </div>

  <div id="modal-body-option<%= option.id %>" class="modal-body">
    <table id="votes-option<%= option.id %>" class="table vote-table">
      <%# render votes here %>
    </table>

    <div id="vote-pagination-option<%= option.id %>" class="center"></div>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t('votes._index.close') %></button>
  </div>
</div>
