<div class="navbar-inner">
  <div class="container">
    <%= link_to image_tag("logo_small.png", alt: t('layouts._navigation.page_title')), root_path, :id => "logo" %>

    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <div class="menu">
      <nav class="nav-collapse">
        <ul class="nav pull-right">
          <li><%= render 'searches/search' %></li>
          <% if user_signed_in? %>
            <li>
              <%= link_to(user_path(current_user)) do %>
                <i class="icon-user icon-white icon-user-nav"></i> <%= current_user.username %>
              <% end %>
            </li>
            <li><%= link_to t('layouts._navigation.home'), root_path %></li>
            <%= render 'notifications/dropdown' %>
            <li><%= link_to t('layouts._navigation.logout'), destroy_user_session_path, :method=>'delete' %></li>
            <li><%= link_to t('layouts._navigation.edit_account'), edit_user_registration_path %></li>
          <% else %>
            <li><%= link_to t('layouts._navigation.login'), new_user_session_path %></li>
            <li><%= link_to t('layouts._navigation.sign_up'), new_user_registration_path %></li>
            <li>
              <%= link_to('/users/auth/facebook') do %>
                <%= fa_icon "facebook-square", class: "fa-1x facebook-icon-color" %>
                <%= t('devise.shared._links.omniauth', provider: :Facebook) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>

  </div>
</div>

