<!DOCTYPE html>
<html>
<head>
  <title><%= t '.title' %></title>
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
  <link href="/assets/bootstrap-responsive.css" rel="stylesheet"></link>
</head>
<body>

  <header class="navbar navbar-fixed-top navbar-inverse">
    <%= render 'layouts/navigation' %>
    <div id="flash_messages">
      <%= render 'layouts/messages' %>
    </div>
  </header>

  <div id="container" class="container">
    <div id="main" role="main">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div> <!--! end of #container -->

  <footer>
    <div id="footer-background">
      <div class="container">
        <%= render 'layouts/pages' %>
      </div> <!--! end of container -->
    </div>
  </footer>

</body>
</html>
